#circle1{
    fill:orange;
}

#circle2{
    fill:orange;
}

#circle3{
    fill:pink;
}

#circle4{
    fill:brown;
}

#circle5{
    fill:brown;
}

#circle6{
    fill:white;
}

#circle7{
    fill:white;
}

#circle8{
    fill:grey;
}

#circle9{
    fill:grey;
}

#circle10{
    fill:grey;
}

#circle11{
    fill:white;
}

#circle12{
    fill:white;
}

#circle13{
    fill:grey;
}

#circle14{
    fill:grey;
}

#rect1{
    fill:grey;
}
